@using Entities.Concrete
@using Core.Utilities.Results
@model IDataResult<List<Category>>
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">

    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Durumu</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model.Data)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Status</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
